<h1>Editer</h1>
<%= form_for(@user) do |f|%>
<%= f.label("Prenom") %><br/>
<%= f.text_field :first_name %><br/>
<%= f.label("Nom") %><br/>
<%= f.text_field :last_name %><br/>
<%= f.submit("update") %>

<% end %>
