<a class="btn btn-primary" href="<%= users_path()%>">Retour</a>
<h1>Informations concernant l'utilisateur <%= @user.name %></h1>
<p>Prénom : <%= @user.first_name %></p>
<p>Nom : <%= @user.last_name%></p>
<p>Date de naissance : <%= @user.birth_date %></p>
<p>Age : <%= @user.age %></p>  